@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sale_container p{
    position: relative;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem; 
}

.musthave__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .musthave__nav a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .musthave__nav a:hover {
    color: var(--text-dark);
  }
  
  .musthave__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .musthave__card {
    display: grid;
    gap: 0.5rem;
    color: var(--text-dark);
  }
  
  .musthave__card h4 {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .musthave__card p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .musthave__card p del {
    font-weight: 400;
    color: var(--text-light);
  }

  .brands__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
  }
  
  .brand__image {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .brand__image img {
    max-width: 120px;
  }
  
  .brand__image:hover {
    opacity: 1;
  }
  
  .footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  /* review section */
  
  .review-section{
    padding: 50px 5vw;
  }
  
  .footer__heading {
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .footer__heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background-color: var(--text-light);
  }
  
  .footer__col p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer__col p:hover {
    color: var(--text-dark);
  }
  
  .footer__col p i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  
  
  
  .footer__bar {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }
  
  .copyright {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
  }
  
  .footer__form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .footer__form form {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
  }
  
  .footer__form input {
    width: 100%;
    padding: 0.75rem 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-dark);
    font-size: 0.8rem;
  }
  
  .footer__form .btn {
    background-color: var(--text-dark);
    color: var(--white);
  }
  
  @media (width < 900px) {
    header {
      margin-top: 5rem;
    }
  
    .sale__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .musthave__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  
    .news__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .brands__container {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .instagram__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer__bar {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .copyright {
      text-align: center;
    }
  
    .footer__form {
      justify-content: center;
    }
  }
  
  @media (width < 600px) {
    .nav__links {
      display: none;
    }
  
    header {
      margin-top: 0;
    }
  
    .header__container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .header__image {
      display: none;
    }
  
    .sale__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .musthave__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .news__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .brands__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  